/* @font-face {
  font-family: 'fnaf';
  font-size: 10px !important;
  src: url(/assets/font/fnaf.ttf);
} */

body {
  margin: 0;
  background-color: #000;
}

.fullscreentoggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  z-index: 99;
  background-color: transparent;
  color: white;
}

.fullscreentoggle button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
}

.warn {
  width: 100vw;
  height: 100vh;
}

.warnhold {
  width: 100vw;
}

.gra {
  width: 100vw;
  height: 100vh;
}

.menupiotr {
  width: 450px;
  height: 100vh;
}

.menupiotr img {
  height: 100vh;
  right: -25vh;
}

.piotrfade {
  height: 100vh;
}

h1 {
  padding: 1px 4px;
  margin-top: 6.7vh;
  font-size: 5.83vh;
  margin-left: calc(6.25vh + 50px);
}

.buttons {
  top: 55.28vh;
  margin-left: 6.25vh;
}

.buttons button {
  display: inline-flex;
  font-size: 5.83vh;
}

.piotrfade {
    height: 100vh;
    width: 75vh;
}

.arrow {
  display: block;
  width: 50px;
  height: 50px;
}

#newspaper {
  width: 100vw;
  height: 100vh;
}

@keyframes scan {
    0% {
        top: -50px;
    }
    100% {
        top: calc(100vh + 50px);
    }
}

.scan {
    width: 100vw;
}

.footer {
  width: 87.5vw;
  padding: 0 6.25vw;
  font-size: 2.4vh;
}

.debug {
  background-color: red;
  position: absolute;
  left: 850px;
  top: 0;
}

.debug.hide {
  display: none;
}

.flash {
  width: 100vw;
  height: 100vh;
}

.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  display: none;
  color: white;
}

.rotate h2 {
  width: 100vw;
  font-family: 'Comic Sans MS';
}

@keyframes rotateanim {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 180deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

.rotate svg {
  position: relative;
  z-index: 2;
  width: 100px;
  animation: rotateanim 4s ease-out infinite;
  text-shadow: 5px solid black;
  margin-bottom: 64px;
}

@media (orientation: portrait) {
  .gra {
    display: none;
  }
  .rotate {
    display: inherit;
  }
}